<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>匿名八掛論壇</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<body style="background-color:#DDDDFF;">
<div class="container-fluid text-center">
    <h2>匿名八掛論壇</h2>
    <div class="m-2">
        <a class="h3" th:href="@{/users/new}">我要發文</a>
    </div>

    <div class="alert-success text-center" th:if="${message}"></div>

    <div>
        <table style="border:3px" #FFAC55 solid; class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>編號</th>

                <th>暱稱</th>

                <th>標題</th>

                <th>內文</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user: ${listUsers}">
                <tr>
                    <td>[[${user.id}]]</td>

                    <td>[[${user.firstName}]]</td>

                    <td>[[${user.class_s}]]</td>

                    <td>[[${user.studentID}]]</td>

                    <td>
                        <a class="h4 mr-3" th:href="@{'/users/edit/'+ ${user.id}}">編輯</a>
                        <a class="h4" th:href="@{'/users/delete/'+ ${user.id}}">刪除</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>